@using Sandbox.UI;

@namespace BrickJam.UI.MainMenu.ActiveGame
@inherits Panel
@attribute [StyleSheet]

<root style="border-color: @Client.GetColor().Hex">
	<div class="inner" style=@( Client is null ? "" : $"background-image: url(avatar:{Client.SteamId})" )>
		<div class="even-innerer @( Client is null ? "" : "has-client" )">
			@if ( Client is null )
			{
				<label>Empty</label>
			}
			else
			{
				<label>@Client.Name</label>
				@if ( Client.IsFriend )
				{
					<label style="font-size: 32px">(friend)</label>
				}
				@if ( Client.IsOwnedByLocalClient )
				{
					<label style="font-size: 32px">(you)</label>
				}

				<div style="flex-grow: 1"></div>

				<div class="money">
					<label class="currency">$</label>
					<label>@Client.GetInt( "money" )</label>
				</div>

			@* YOU SHOULD KICK YOURSELF, NOW! *@
				@if ( IsViewerAdmin && !Client.IsOwnedByLocalClient )
				{
					<button @onclick=@Kick>Kick</button>
				}
			}
		</div>
	</div>
</root>

@code {

	public IClient Client { get; set; }

	private bool IsViewerAdmin =>
		Game.Clients.Any( client => client.IsOwnedByLocalClient && (client.IsListenServerHost || client.Ping == 0) );

	private void Kick()
	{
	//ConsoleSystem.Run( "kickid", Client.Id );
		Client.Kick();
	}

	protected override int BuildHash()
	{
		Log.Info( Client?.GetInt( "money" ) );
		
		return HashCode.Combine( Client?.Id ?? -1, Client?.GetInt( "money" ) );
	}

}
