@using Sandbox.Razor
@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel

<root>
	<div class="top">@Top</div>
	<div class="middle">
		<div class="crosshair">X</div>
		@Middle
	</div>
	<div class="bottom">@Bottom</div>
</root>

<style>
	Crosshair {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		flex-direction: column;
		
		.top, .bottom {
			flex-grow: 1;
			flex-basis: 0;
			flex-direction: column;
			align-items: center;
		}
		
		.top {
			justify-content: flex-end;
		}
		
		.bottom {
			justify-content: flex-start;
		}
		
		.middle {
			height: 128px;
			
			/* TODO: i hate it */
			* {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
</style>

@code {

	public RenderFragment Top { get; set; }
	public RenderFragment Middle { get; set; }
	public RenderFragment Bottom { get; set; }

}
