@using Sandbox;
@using Sandbox.UI;

@namespace BrickJam.UI
@inherits RootPanel
@attribute [StyleSheet]

<root>
	@{
		var player = Game.LocalPawn switch
		{
			BrickJam.Player playerAlive => playerAlive,
			Spectator playerSpectator => playerSpectator.Following,
			_ => null
			};

		var isSpectator = Game.LocalPawn is Spectator;
		var isPlayer = Game.LocalPawn is BrickJam.Player;
	}

	@if ( player is not null )
	{
		<!-- The client either has a living pawn or is observing another player's pawn -->
		<StunIndicator @Player=@player/>
		<Inventory/>

		<Crosshair>
			<Top>
				Some text on the top
			</Top>
			<Middle>
				<InteractionIndicator @Player=@player/>
			</Middle>
			<Bottom>
				Some text on the bottom
				@if ( isPlayer )
				{
					<InteractionTip @Player=@player/>
				}
			</Bottom>
		</Crosshair>
	}

	@if ( Game.LocalPawn is Spectator spectator )
	{
		<div>yuo're dead lol lmao git gud</div>

		if ( player is not null )
		{
			<div>Observing @player.Client.Name</div>
		}
	}
</root>

@code {
	public static Hud Instance { get; private set; }

	[Event.Hotload]
	static void hotload()
	{
		if ( Game.IsClient )
			new Hud();
	}

	public Hud()
	{
		Instance?.Delete( true );
		Instance = this;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Game.LocalPawn?.GetType() );
	}

}
