@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel

<root>
	@if ( Player.UsableEntity is not null )
	{
		<label>Hold the use key to @Player.UsableEntity.UseString</label> 
	}
</root>

@code {

	public Player Player;

	protected override int BuildHash()
	{
		return HashCode.Combine( Player.UsableEntity );
	}

}
