@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel

<root>
	@if ( Player.UsableEntity is not null )
	{
        if (Player.UsableEntity.CanUse )
        {
            <span>Press </span><inputglyph action="use" /><span>to @(Player.UsableEntity.UseString).</span>
        }
        else
        {
            <span>@(Player.UsableEntity.UseString).</span>
        }

	}
</root>

@code {
	public Player Player;

	protected override int BuildHash()
	{
		return HashCode.Combine( Time.Now );
	}
}


<style>
	InteractionTip {
		color: white;
		font-size: 32px;
		text-shadow: 4px 4px 0px black;

		InputGlyph {
			width: 32px;
			aspect-ratio: 1;
			margin: 0px 10px 0px 10px;
		}
	}
</style>
