@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel

<root class="@(useString != string.Empty ? "visible" : "")">
	@if( useString != string.Empty )
	{
		@if( Player.UsableEntity.CanUse )
		{
			<span>@((Player.UsableEntity.InteractionDuration == 0f || Player.UsableEntity.Locked ) ? "Press" : "Hold" )</span>
			<inputglyph action="use" />
			<span>to @(Player.UsableEntity.Locked ? Player.UsableEntity.LockText : useString).</span>
		}
		else
		{
			<span>@(useString)</span>
		}
	}
</root>

@code {
	public Player Player { get; set; }

	string useString => Player?.UsableEntity != null
		? Player.UsableEntity?.UseString ?? string.Empty
		: string.Empty;

	protected override int BuildHash()
	{
		return HashCode.Combine( Time.Now );
	}
}


<style>
	InteractionTip {
		color: white;
		font-size: 32px;
		text-shadow: 4px 4px 0px black;
		padding: 10px;
		padding-right: 40px;
		padding-left: 40px;
        z-index: 10;

		&.visible {
			background: linear-gradient(to left, rgba(black, 0) 0%, rgba(black, 0.2) 20%, rgba(black, 0.2) 80%, rgba(black, 0) 100%);
		}

		InputGlyph {
			width: 32px;
			aspect-ratio: 1;
			margin: 0px 10px 0px 10px;
		}
	}
</style>
