@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel

<root class="@(Player.UsableEntity?.UseString != null ? "visible" : "")">
	@if ( Player.UsableEntity is not null )
	{
        if (Player.UsableEntity.CanUse )
        {
            <span>Hold </span><inputglyph action="use" /><span>to @(Player.UsableEntity.Locked ? Player.UsableEntity.LockText : Player.UsableEntity.UseString).</span>
        }
		else if ( Player.UsableEntity.UseString != string.Empty )
        {
            <span>@(Player.UsableEntity.UseString).</span>
        }

	}
</root>

@code {
	public Player Player;

	protected override int BuildHash()
	{
		return HashCode.Combine( Time.Now );
	}
}


<style>
	InteractionTip {
		color: white;
		font-size: 32px;
		text-shadow: 4px 4px 0px black;
		padding: 10px;
		padding-right: 40px;
		padding-left: 40px;

		&.visible {
			background: linear-gradient(to left, rgba(black, 0) 0%, rgba(black, 0.2) 20%, rgba(black, 0.2) 80%, rgba(black, 0) 100%);
		}

		InputGlyph {
			width: 32px;
			aspect-ratio: 1;
			margin: 0px 10px 0px 10px;
		}
	}
</style>
