@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="window">
		<div class="header"></div>
		<div class="container">
			<div class="items">
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			</div>
			<div class="border-overlay"></div>
		</div>
	</div>
</root>
