@using System.Runtime.CompilerServices
@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="window">
		<div class="header">
			<div class="image"></div>
		</div>
		<div class="container">
			<div class="container-content">
				<div class="items">
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
				</div>
				<div class="details"></div>
			</div>
			<div class="border-overlay"></div>
		</div>
	</div>
</root>

@code {

	private static Shop instance;
	public static bool IsOpen => instance.HasClass( "open" );

	public Shop()
	{
		instance = this;
	}

	public static void Open()
	{
		instance.SetClass( "open", true );
	}

	public static void Close()
	{
		instance.SetClass( "open", false );
	}

	public static void Toggle()
	{
		instance.SetClass( "open", !IsOpen );
	}

	public override void Tick()
	{
	}

}
