Shop {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: 1;

    &.open {
        opacity: 1;

        pointer-events: all;
    }

    transition: opacity 0.3s ease;

    .window {
        width: 800px;
        height: 900px;

        background-color: #61577C;

        border-right: #25213A solid 5px;
        border-bottom: #25213A solid 5px;

        padding: 8px;

        flex-direction: column;

        .header {
            width: 100%;
            height: 155px;

            justify-content: space-between;

            .image {
                width: 100%;
                height: 100%;

                image-rendering: pixelated;
                background-image: url("ui/shop/header.png");
                background-size: 100%;
                background-repeat: no-repeat;
            }

            margin-bottom: 10px;
        }

        .container {
            width: 100%;
            height: 100%;

            .border-overlay {
                width: 100%;
                height: 100%;

                z-index: 30;

                position: absolute;

                image-rendering: pixelated;
                background-image: url("ui/shop/border.png");
                background-size: 100%;
                background-position: center;

                pointer-events: none;
            }

            image-rendering: pixelated;
            background-image: url("ui/shop/background.png");
            background-size: 200% 200%;
            background-position: center;

            .container-content {
                padding: 35px;
                
                .items {
                    width: 100%;
                    height: 100%;

                    pointer-events: all;
                    
                    justify-content: center;
                    align-items: center;

                    flex-wrap: wrap;
                    overflow: scroll;

                    .item {
                        flex-shrink: 0;
                        margin-bottom: 15px;

                        padding: 18px;
                        
                        width: 100%;
                        height: 120px;

                        image-rendering: pixelated;
                        background-size: 100%;
                        background-position: center;
                        
                        justify-content: space-between;
                        
                        .info {
                            width: 70%;
                            
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            .header {
                                height: 30px;
                                width: 100%;
                                font-size: 30px;
                                //background-color: red;
                            }    
                            
                            .description {
                                //background-color: blue;
                                font-size: 20px;
                            }
                        }
                        
                        .buy-button {
                            width: 30%;
                            height: 100%;

                            image-rendering: pixelated;
                            background-size: 100%;
                            background-position: center;
                            background-image: url("ui/shop/buy-button.png");
                            
                            color: white;
                            
                            justify-content: center;
                            align-items: center;

                            .buy {
                                font-size: 30px;
                            }
                            
                            .price {
                                margin-left: 10px;
                                font-size: 20px;
                            }
                            
                            &.locked {
                                .price {
                                    margin-left: 0;
                                    font-size: 30px;
                                }
                            }
                            
                            &:not(.locked):hover {
                                background-image: url("ui/shop/buy-button.hover.png");
                            }
                        }
                        
                        &.locked {
                            background-image: url("ui/shop/upgrade-locked.png");
                        }
                        
                        &:not(.locked) {
                            background-image: url("ui/shop/upgrade.png");
                        }
                    }
                }
            }
        }
    }
}