@using BrickJam.VoiceLines
@using Sandbox.UI;

@namespace BrickJam.UI
@inherits Panel

<root>
	@foreach ( var playedVoiceLine in VoiceLinePlayer.The.CurrentVoiceLines )
	{
		<div>@playedVoiceLine.AttachedEntity.Name : @playedVoiceLine.VoiceLine.LocalizedSubtitle</div>
	}
</root>

<style>
	SubtitlesList {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		flex-direction: column;
		align-items: center;
	}
</style>

@code {

	public Entity Pawn { get; set; }

	[VoiceLineEvent]
	protected void OnVoiceLine(VoiceLinePlayer.PlayedVoiceLine playedVoiceLine)
	{
		Log.Info( $"Voice Line: {playedVoiceLine.AttachedEntity} {playedVoiceLine.VoiceLine.ResourcePath}" );
		StateHasChanged();
	}

	protected override int BuildHash()
	{
		var hash = HashCode.Combine( VoiceLinePlayer.The.CurrentVoiceLines );
		foreach ( var playedVoiceLine in VoiceLinePlayer.The.CurrentVoiceLines )
			hash = HashCode.Combine( hash, playedVoiceLine );
		return hash;
	}

}
