@using Sandbox.UI;

@namespace ITH.UI
@inherits Panel
@attribute [StyleSheet]

<root class="@(useString != string.Empty ? "visible" : "")">
	@if (useString != string.Empty)
	{
		@if (player.CurrentUsable.CanUse)
		{
			<span>@((player.CurrentUsable.InteractionDuration == 0f || player.CurrentUsable.Locked) ? "Press" : "Hold")</span>
			<inputglyph action="use" />
			<span>to @(player.CurrentUsable.Locked ? player.CurrentUsable.LockText : useString).</span>
		}
		else
		{
			<span>@(useString)</span>
		}
	}
</root>

@code {
	static Player player => HUD.Instance.ActivePlayer;

	string useString => player?.CurrentUsable != null
	? player?.CurrentUsable?.UseString ?? string.Empty
	: string.Empty;

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}
}
