@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace BrickJam.UI.MainMenu.Credits
@attribute [StyleSheet]

<root>

	<div class="navbar">
		<div class="left">
			<a class="button" href="/"> Home </a>
			<span class="block">&gt;</span>
			<span class="block">Credits</span>
		</div>
		<div class="right">

		</div>
	</div>
	
	<section class="scroll">
		<h1 class="row">CREDITS</h1>
		
		<h2 class="row">Small Fish</h2>
		
		<div class="row">
			<div class="col">ceitine</div>
			<div class="col">programmer</div>
		</div>
		
		<div class="row">
			<div class="col">cyberagent</div>
			<div class="col">map and direction</div>
		</div>
		
		<div class="row">
			<div class="col">gio</div>
			<div class="col">programmer</div>
		</div>
		
		<div class="row">
			<div class="col">grodbert</div>
			<div class="col">monsters and players</div>
		</div>
		
		<div class="row">
			<div class="col">notgaylien</div>
			<div class="col">modeller and textures</div>
		</div>
		
		<div class="row">
			<div class="col">shlako</div>
			<div class="col">programmer</div>
		</div>
		
		<div class="row">
			<div class="col">ubre</div>
			<div class="col">lead</div>
		</div>
		
		<h1 class="row">Others</h1>
		
		<div class="row">
			<div class="col">Sounds</div>
			<div class="col">zapsplat</div>
		</div>
		
		<h2 class="row">Music</h2>
		
		<div class="row">Music from "A Haunted Night" by "Ambience Mastery" with permission</div>
		
		<h1 class="row">Thanks for playing our game!</h1>
		<h1 class="row">&gt;&lt;(((°></h1>
	</section>

</root>
