
.gamemainmenu frontpage
{
	align-items: center;
	
	padding: 100px 100px;
	gap: 100px;

	.game-title
	{
		color: white;
		font-size: 92px;
		text-shadow: 4px 4px 0px black;
	}

	.controls
	{
		flex-direction: column;
		gap: 8px;
		align-items: stretch;
	}
}