{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "player": "Unset",
    "npc": "Unset",
    "nocollide": "Ignore",
    "world": "Unset",
    "loot": "Collide",
    "container": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "npc",
      "b": "npc",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "npc",
      "r": "Trigger"
    },
    {
      "a": "nocollide",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "loot",
      "r": "Ignore"
    },
    {
      "a": "npc",
      "b": "loot",
      "r": "Ignore"
    },
    {
      "a": "loot",
      "b": "container",
      "r": "Ignore"
    }
  ],
  "__guid": "9576775a-c2dd-4e59-97b6-bc40a45074a7",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}