{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "FollowNext",
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "None",
      "GroupName": "Spectator"
    },
    {
      "Name": "FollowPrevious",
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None",
      "GroupName": "Spectator"
    },
    {
      "Name": "Inventory",
      "KeyboardCode": "TAB",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "StopFollowing",
      "KeyboardCode": "SPACE",
      "GamepadCode": "None",
      "GroupName": "Spectator"
    },
    {
      "Name": "Crouch",
      "KeyboardCode": "CTRL",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Ping",
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "c4b08d74-05e3-4e49-8c63-042cd0b7e40a",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}