Inventory {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: 1;

    transition: opacity 0.17s ease;

    &.open {
        opacity: 1;

        pointer-events: all;

        .window {
            bottom: 20px;
        }
    }

    .window {
        position: absolute;

        width: 750px;
        height: 500px;

        transition: bottom 0.26s ease;

        left: 20px;
        bottom: -500px;

        background-color: #61577C;

        border-right: #25213A solid 5px;
        border-bottom: #25213A solid 5px;

        padding: 8px;

        flex-direction: column;

        .header {
            width: 100%;
            height: 155px;

            justify-content: space-between;

            .image {
                width: 100%;
                height: 100%;

                image-rendering: pixelated;
                background-image: url("ui/inv3/header.png");
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }

        .container {
            width: 100%;
            height: 100%;

            .border-overlay {
                width: 100%;
                height: 100%;

                z-index: 30;

                position: absolute;

                image-rendering: pixelated;
                background-image: url("ui/inv3/border.png");
                background-size: 100%;
                background-position: center;

                pointer-events: none;
            }

            image-rendering: pixelated;
            background-image: url("ui/inv3/background.png");
            background-size: 200% 200%;
            background-position: center;

            .container-content {
                width: 100%;

                background-color: blue;

                flex-direction: column;

                .shelf {
                    width: 100%;
                    height: 180px;

                    overflow: scroll;

                    align-items: center;

                    background-color: red;

                    image-rendering: pixelated;
                    background-size: 100%;
                    background-position: center;
                    background-image: url("ui/inv3/shelf.png");

                    .item {
                        flex-shrink: 0;

                        background-color: green;

                        margin-left: 30px;

                        filter: drop-shadow(0px 12px 6px rgba(0, 0, 0, 0.5));
                    }
                }
            }
        }
    }
}