.button, .block
{
  padding: 8px 16px;

  font-size: 28px;
  font-weight: 700;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.button
{
  background-color: #41395E;
  cursor: pointer;

  border-image: url("/ui/button_border.png");

  font-weight: bold;

  &:hover
  {
    filter: brightness(1.2);
  }

  &:active
  {
    filter: brightness(0.8);
    
    left: 2px;
    top: 3px;
  }
}