@using Sandbox.UI;
@inherits Panel
@namespace BrickJam.UI.MainMenu

<root>
	<div class="container" style="opacity: @(Hide < 0.5f ? 0 : 1)">
		<div class="logo"/>
	</div>
</root>

<style>
	.gamemainmenu smallfishintro
	{
		align-items: stretch;
	
		padding: 0;
		
		> .container
		{
			flex-grow: 1;
			
			align-items: center;
			justify-content: center;
		
			background-image: none;
			background-color: #2446f7;
		
			opacity: 1;	
			
			transition: background-color 1s ease-out, opacity 0.5s ease-in;
			
			&:intro
			{
				background-color: #000000;
			}
			
			> .logo
			{
				aspect-ratio: 3.625;
				width: 50%;
				
				background-image: url("/ui/logo_white.png"); // WHOEVER MADE SVGs VERY BLURRY, HAVE A VERY UNPLEASANT DAY
				background-size: cover;		
				background-position: center;
				
				transform: translateY(0%);
				
				opacity: 1;
				
				transition: transform 1s ease-out, opacity 1s ease-out;
				
				&:intro
				{
					transform: translateY(-300%);
					
					opacity: 0;
				}
			}
		}
	}
</style>

@code {

	float Delay => 3f;
	
	TimeUntil Hide = 0;

	public SmallFishIntro()
	{
		Hide = Delay;
	}

	public override void Tick()
	{
		if (Hide)
			this.Navigate( "/" );
	}

	protected override int BuildHash() => HashCode.Combine( (float)Hide );

}
